[Unit]
Description=BUAA Native Auto Login
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/buaalogin.env
ExecStart=/usr/local/bin/buaalogin
DynamicUser=yes
Restart=on-failure
RestartSec=30s
TimeoutStopSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
